@import url(../styles/base.css);
@import url(../styles/reset.css);
@import url(../styles/theme.css);

:root {
  --font-size: 16px;
  --title-size: 30px;

  --space-top: 16px;
  --space-between: 20px;

  /*  Primary Colors */
  --color-primary: #1e88e5;
  --color-primary-light: #6ab7ff;
  --color-primary-brightlight: #e8f4ff;
  --color-primary-dark: #005cb2;

  /*  UI Specific */
  --color-background: #ffffff;
  --color-surface: #f8f9fa;
  --color-border: #dee2e6;
  --color-text: #212121;
  --color-text-light: #666666;
  --color-text-brightlight: #989898;
}

body {
  width: 100%;
  block-size: 31.25rem;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    font-size: var(--font-size);

    padding: 4rem;
  }

  .title {
    font-size: var(--title-size);
    padding-bottom: var(--space-top);
    font-weight: 600;
  }

  .question {
    display: grid;
    grid-template-columns: 9.5fr 0.5fr;
    border-bottom: 1px solid var(--color-text-brightlight);
    align-items: center;
    padding-inline-start: var(--space-between);
    padding-block: var(--space-top);
    font-weight: 600;
    justify-content: space-between;

    img,
    svg {
      justify-content: flex-end;
      align-items: center;
    }
  }

  .question-2 {
    &:hover {
      background: var(--color-primary-brightlight);
    }
  }

  details {
    /* 세부설명 */
    > p,
    > ol {
      font-weight: 450;
      color: var(--color-text);
    }

    > p {
      padding: var(--space-top);
    }

    > ol {
      padding-inline: var(--space-between);
      padding-bottom: calc(var(--font-size) / 2);
    }

    .track {
      font-weight: 600;
    }
  }

  summary {
    font-size: 1rem;
    list-style: none; /* 기본 화살표 제거 */
    display: flex; /*아이콘과 텍스트를 나란히 정렬 */
    align-items: center;
    gap: 8px; /* 아이콘과 텍스트 사이 간격 */
  }

  /* summary::after {
    content: '';
    background-image: url('../QnA/imges/Plus.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
  }

  details[open] summary::after {
    background-image: url('../QnA/imges/Minus.svg');
  } */

  /* 웹킷 브라우저의 기본 마커 제거 */
  summary::-webkit-details-marker {
    display: none;
  }
}
